*{
  margin:0;
  padding:0;
  font-family:times new roman;
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
body{
	height:100%;
	opacity:0.9;
}

/*--------------NAVBAR-----------------*/
nav{
	position:fixed;
  width: 100%;
  height: 50px;
  background-color: #0005;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:black;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 30px;
}

/*--------------HOMEPAGE-----------------*/
#home{
	width:100%;
	height:100vh;
	background-image: url(img/background.jpg);
	background-size: cover;
	max-height:100%;
	min-width:100%;
}
.hello{
	padding-top:400px;
	color:white;
	margin-left:50px;
	font-size:70px;
}
.desc{
	width : 475px;
	font-size:15px;
	padding-top:10px;
}

.type {
  display:inline-block;
  vertical-align: bottom;
  font-family:times new roman;
  font-size:70px;
}

.type > span {
  display:grid;
  overflow: hidden;
  height:1.14em;
}

.type span span {
	font-family:times new roman;
	font-size:70px;
	width:0%;
	max-width:max-content;
	overflow: hidden;
	height:inherit;
	word-break:break-all;
	animation:
		c 0.5s infinite steps(1),  
		t 2s linear infinite alternate,
		m 12s steps(3) infinite;
}
.type span span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  90%,100% {width:100%}
}

@keyframes c{
  0%,100%{box-shadow:5px 0 0 #0000}
  50%    {box-shadow:5px 0 0 white  }
}
@keyframes m{
  100% {transform:translateY(-300%)}
}

/*--------------ABOUT-----------------*/
#about{
	width:100%;
	height:100vh;
	background-image: url(img/about.jpg);
	background-size: cover;
	max-height:100%;
	min-width:100%;
}
.about-me{
	float:right;
	width : 700px;
	font-size:25px;
	padding-top:100px;
	font-weight: bold;
}
p {
	padding-top:50px;
	padding-right:150px;
	font-size:25px;
	font-weight: lighter;
	text-align:justify;
}

/*--------------PROJECTS-----------------*/
#projects{
	width:100%;
	height:100vh;
	background-image: url(img/projects.jpg);
	background-size: cover;
	max-height:100%;
	min-width:100%;
}

/*--------------CONTACT-----------------*/
#contact{
	width:100%;
	height:100vh;
	background-image: url(img/contact.jpg);
	background-size: cover;
	max-height:100%;
	min-width:100%;
}
.container{
	padding:100px;
	margin:auto;
	width:600px;
	display:block;
	height:300px;
	background-color:white;
	text-align:center;
	opacity: 0.6;
	border: 5px double black;
}

.container h1{
	font-size:60px;
}

.row > .column{
	display:inline-block;
	width: 100px;
    border: 2px solid black;
	border-radius: 5px;
	margin: 10px;
}